
.maincon{
  grid-area: main;
  /* overflow-y: auto; */
  /* padding: 20px 20px; */
  color:black

}
.maintitle{
  display: flex;
  justify-content: space-between;
}
.maincards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cards{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 30px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hicons{
  font-size: 35px;
  color: navy;
}
.save{
  display: flex;
  padding: 10px 20px;
  align-items: center;
  margin: 10px 0;
  background-color: navy;
  color: white;
text-decoration: none;
  border-radius: 10px;
  
}